.Topbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 2.5em;

    .numbersContainer span{
        padding-left: 5px;

    }

    .form-check-input:focus {
        border-color: red;
        outline: 0;
        box-shadow: 0 0 0 rgb(13 110 253 / 25%);
    }

}



.specialButtons{
    display: flex;
    justify-content: space-around;
    align-items: center;

    &.item{
        margin: 5em;
    }
    
}

.language-dropdown{
    margin-right: 2em;
    border:1px solid #384B5A;

    &:focus{
        outline: none !important;
        box-shadow: none;
    }

    &:checked{
        outline: none !important;
        box-shadow: none;
    }
    
    
}

@media screen and (max-width: 1023px){
    .Topbar{
        flex-direction: column;
        height: auto;
        justify-content:center;
        align-items: center;

        & .topbar-item{
            margin-top: 1em;
        }

        
        .specialButtons{
            margin-bottom: 0.5em;
            margin-left: 1.5em;
        }
    }
}
